<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding sobre-content">
  <ion-card class="img-card">
    <img alt="Programadora" src="assets/img/ray.jpeg" style="display: block; margin: 0 auto; width: 350px; height: auto;"  />
  </ion-card>

  <ion-card class="card-txt">
    <ion-card-header>
      <ion-card-title class="nome-card"><strong>Rayane Gomes</strong></ion-card-title>
      <ion-card-subtitle>ADS - BANGU - MANHÃ</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="box-txt">
      <p>Oi, sou a Rayane, tenho 27 anos e sou estudante de programação. Estou sempre em busca de novos conhecimentos e desafios na área de tecnologia.</p>
    </ion-card-content>

    <ion-button [routerLink]="['/home']" expand="block" class="btn-voltar">
      Voltar
    </ion-button>
  </ion-card>
</ion-content>